<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

    <!-- Vendor CSS -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body>

<header id="header" class="header fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <a href="{% url 'index' %}" class="logo">
            <h1>Brotherhood Motors</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>

<main class="main" style="margin-top:100px;">
    {% block content %}
    {% endblock %}
</main>

<footer class="text-center p-4 bg-dark text-white">
    All Reserved Rights by <mark>@ 2026 Brotherhood Motors</mark>
</footer>

<!-- JS -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>