{% extends 'base.html' %}
{% load static %}

{% block title %}index{% endblock %}

{% block content %}

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">Brotherhood</h1>
      </a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/world-dotted-map.png' %}" alt="" class="hero-bg">

      <div class="container">
        <div class="row gy-4 d-flex justify-content-between">

          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h2>Your Lightning Fast Delivery Partner</h2>
            <p>Facere distinctio molestiae nisi fugit tenetur repellat non praesentium...</p>

            <form action="#" class="form-search d-flex align-items-stretch mb-3">
              <input type="text" class="form-control" placeholder="Your ZIP code or City">
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>

          <div class="col-lg-5 order-1 order-lg-2 hero-img">
            <img src="{% static 'assets/img/hero-img.svg' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section>

    <!-- Services Example Fix -->
    <section id="services" class="services section">
      <div class="container">
        <div class="row gy-4">

          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/service-4.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3>Trucking</h3>
              <p>Service description here...</p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- Testimonials FIXED -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="{% static 'assets/img/testimonials-bg.jpg' %}" class="testimonials-bg" alt="1">

      <div class="swiper-slide">
        <div class="testimonial-item">
          <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="2">
          <h3>Matt Brandon</h3>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="testimonial-item">
          <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="3">
          <h3>John Larson</h3>
        </div>
      </div>

    </section>

  </main>

{% endblock %}