{% extends 'base.html' %}
{% load static %}

{% block title %}pricing{% endblock %}

{% block content %}

<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background"
       style="background-image: url('{% static 'assets/img/page-title-bg.jpg' %}"');">
    <div class="container position-relative">
      <h1>Pricing</h1>
      <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam.</p>

      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="current">Pricing</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->


  <!-- Pricing Section -->
  <section id="pricing" class="pricing section">

    <div class="container section-title">
      <span>Pricing</span>
      <h2>Pricing</h2>
      <p>Choose the plan that fits your needs.</p>
    </div>

    <div class="container">
      <div class="row gy-4">

        <!-- Free Plan -->
        <div class="col-lg-4">
          <div class="pricing-item">
            <h3>Free Plan</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> Basic Features</li>
              <li><i class="bi bi-check"></i> Email Support</li>
              <li class="na"><i class="bi bi-x"></i> Premium Access</li>
            </ul>
            <a href="#" class="buy-btn">Buy Now</a>
          </div>
        </div>

        <!-- Business Plan -->
        <div class="col-lg-4">
          <div class="pricing-item featured">
            <h3>Business Plan</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> All Free Features</li>
              <li><i class="bi bi-check"></i> Priority Support</li>
              <li><i class="bi bi-check"></i> Analytics Access</li>
            </ul>
            <a href="#" class="buy-btn">Buy Now</a>
          </div>
        </div>

        <!-- Developer Plan -->
        <div class="col-lg-4">
          <div class="pricing-item">
            <h3>Developer Plan</h3>
            <h4><sup>$</sup>49<span> / month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> All Business Features</li>
              <li><i class="bi bi-check"></i> API Access</li>
              <li><i class="bi bi-check"></i> Advanced Tools</li>
            </ul>
            <a href="#" class="buy-btn">Buy Now</a>
          </div>
        </div>

      </div>
    </div>

  </section>
  <!-- End Pricing Section -->

</main>

{% endblock %}