{% load static %}
{% extends 'base.html' %}

{% block title %}
service_details-cars
{% endblock %}

{% block content %}

<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background"
       style="background-image: url('{% static "assets/img/page-title-bg.jpg" %}');">
    <div class="container position-relative">
      <h1>Service Details</h1>
      <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam.</p>

      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="current">Service Details</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->


  <!-- Service Details Section -->
  <section id="service-details" class="service-details section">

    <div class="container">
      <div class="row gy-4">

        <!-- Sidebar -->
        <div class="col-lg-4">
          <div class="services-list">
            <a href="#" class="active">Web Design</a>
            <a href="#">Software Development</a>
            <a href="#">Product Management</a>
            <a href="#">Graphic Design</a>
            <a href="#">Marketing</a>
          </div>

          <h4>Enim qui eos rerum in delectus</h4>
          <p>Nam voluptatem quasi numquam quas fugiat ex temporibus quo est.</p>
        </div>

        <!-- Main Content -->
        <div class="col-lg-8">
          <img src="{% static 'assets/img/services.jpg' %}"
               alt=""
               class="img-fluid services-img">

          <h3>Temporibus et in vero dicta aut eius lidero plastis</h3>

          <p>
            Blanditiis voluptate odit ex error ea sed officiis deserunt.
            Cupiditate non consequatur et doloremque consequuntur.
          </p>

          <ul>
            <li><i class="bi bi-check-circle"></i> Aut eum totam accusantium.</li>
            <li><i class="bi bi-check-circle"></i> Assumenda et porro nisi.</li>
            <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi.</li>
          </ul>

          <p>
            Est reprehenderit voluptatem necessitatibus asperiores neque sed ea illo.
          </p>

        </div>

      </div>
    </div>

  </section>
  <!-- End Service Details Section -->

</main>

{% endblock %}