{% extends 'base.html' %}
{% load static %}

{% block title %}
services-cars
{% endblock %}

{% block content %}

<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background"
       style="background-image: url('{% static "assets/img/page-title-bg.jpg" %}');">
    <div class="container position-relative">
      <h1>Services</h1>
      <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>

      <nav class="breadcrumbs">
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="current">Services</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->


  <!-- Featured Services -->
  <section id="featured-services" class="featured-services section">
    <div class="container">
      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 service-item d-flex">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
          <div>
            <h4 class="title">Lorem Ipsum</h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 service-item d-flex">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
          <div>
            <h4 class="title">Dolor Sitema</h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 service-item d-flex">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
          <div>
            <h4 class="title">Sed ut perspiciatis</h4>
            <p class="description">Duis aute irure dolor in reprehenderit.</p>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Services Cards -->
  <section id="services" class="services section">
    <div class="container section-title">
      <h2>Our Services</h2>
    </div>

    <div class="container">
      <div class="row gy-4">

        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/service-1.jpg' %}" class="img-fluid" alt="">
            </div>
            <h3>Storage</h3>
            <p>Cumque eos in qui numquam.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/service-2.jpg' %}" class="img-fluid" alt="">
            </div>
            <h3>Logistics</h3>
            <p>Asperiores provident dolor accusamus.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'assets/img/service-3.jpg' %}" class="img-fluid" alt="">
            </div>
            <h3>Cargo</h3>
            <p>Dicta quam similique quia architecto.</p>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Features -->
  <section id="features" class="features section">
    <div class="container section-title">
      <h2>Features</h2>
    </div>

    <div class="container">
      <div class="row align-items-center">

        <div class="col-md-5">
          <img src="{% static 'assets/img/features-1.jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-md-7">
          <h3>Voluptatem dignissimos provident</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

      </div>
    </div>
  </section>


  <!-- Testimonials Background -->
  <section id="testimonials" class="testimonials section dark-background">
    <img src="{% static 'assets/img/testimonials-bg.jpg' %}" class="testimonials-bg" alt="">
  </section>


  <!-- FAQ -->
  <section id="faq" class="faq section">
    <div class="container section-title">
      <h2>Frequently Asked Questions</h2>
    </div>

    <div class="container">
      <div class="faq-item">
        <h3>Non consectetur a erat nam?</h3>
        <p>Feugiat pretium nibh ipsum consequat.</p>
      </div>

      <div class="faq-item">
        <h3>Feugiat scelerisque varius morbi?</h3>
        <p>Dolor sit amet consectetur adipiscing elit.</p>
      </div>
    </div>
  </section>

</main>

{% endblock %}